theme = "catppuccin_mocha"

[editor]
line-number = "relative"
bufferline = "multiple"

[editor.soft-wrap]
enable = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
git-ignore = true

[editor.auto-pairs]
'<' = '>'
