#window {
    font-size: 20px;
    font-family: "JetBrainsMono NF";
    background-color: rgba(30, 30, 30, 0.5);
    color: white;
    font-style: bold;
    border-color: rgba(20, 50, 215, 0.8);
}

#entry:selected {
    background-color: rgba(110, 124, 208, 0.8);
}
