@import url("./colors.css");
* {
    font-family: ComicShannsMono Nerd Font;
    font-size: 24px;
    font-weight: bold;
}

.module {
    background-color: @base;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    opacity: 0.85;
    border-style: solid;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

#workspaces {
    margin-left: 5px;
    border-bottom-width: 2px;
    border-color: @flamingo;
}

#workspaces button {
    margin: 2px;
    border-radius: 10px;
    transition: min-width 0.1s ease-in-out;

}

#workspaces button.visible {
    background-color: @mantle;
    min-width: 35px;
}

#workspaces button.active {
    background-color: @mauve;
    min-width: 35px;
    transition: min-width 0.1s ease-in-out;
    color: @base;
}

#window {
    padding: 0px 10px 0px 10px;
    color: @mauve;
    border-bottom-width: 2px;
    border-color: @mauve;
}

window#waybar.empty #window {
    background-color: transparent;
    box-shadow: 0px 0px;
}

#pulseaudio {
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px 0px 0px 10px;
    color: @red;
    border-bottom-width: 2px;
    border-color: @red;
}

#network {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    color: @green;
    border-bottom-width: 2px;
    border-color: @green;
}

#bluetooth {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    color: @blue;
    border-bottom-width: 2px;
    border-color: @blue;
}

#clock {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
    color: @yellow;
    border-bottom-width: 2px;
    border-color: @yellow;
}

#battery {
    padding-left: 5px;
    padding-right: 20px;
    border-radius: 0px;
    color: @sapphire;
    border-bottom-width: 2px;
    border-color: @sapphire;
}

#tray {
    padding-left: 15px;
    padding-right: 10px;
    margin-right: 5px;
    border-radius: 0px 10px 10px 0px;
    border-bottom-width: 2px;
    border-color: @text;
}
