@import url("./colors.css");
* {
    border-radius: 15px;
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    color: @foreground;
}

window#waybar {
    background: @window-background; 
    /* background: transparent; */
    border-radius: 0px;
}

#workspaces {
    background: @background;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 3px solid @border-color;
    border-radius: 25px;
}

#workspaces button {
    background: transparent;
}

#custom-player {
    background: @background; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 3px solid @border-color;
    border-radius: 25px;
}

box.modules-right {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
}

#pulseaudio {
    border-radius: 25px 0px 0px 25px;
    background: @background;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid @border-color;
    border-right-width: 0px;
}

#pulseaudio-slider {
    min-width: 100px;
    background: @background; 
    padding-right: 15px;
    border-radius: 0px;
    border: 3px solid @border-color;
    border-left-width: 0px;
    border-right-width: 0px;
}

#pulseaudio-slider slider {
    background: transparent;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 5px;
    background-color: rgba(50, 50, 50, 0.25);
}

#pulseaudio-slider highlight {
    min-height: 5px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: none;
    border: 1px solid black;
    border-right-width: 0px;
    background-color: @foreground;
}

#network {
    min-width: 50px;
    background: @background; 
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0px;
    border: 3px solid @border-color;
    border-left-width: 0px;
    border-right-width: 0px;
}

#bluetooth {
    min-width: 30px;
    background: @background;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0px;
    border: 3px solid @border-color;
    border-left-width: 0px;
    border-right-width: 0px;
}

#clock {
    min-width: 50px;
    background: @background;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0px;
    border: 3px solid @border-color;
    border-left-width: 0px;
    border-right-width: 0px;
}

#tray {
    padding-left: 10px;
    padding-right: 15px;
    background: @background;
    border-radius: 0px;
    border: 3px solid @border-color;
    border-right-width: 0px;
    border-left-width: 0px;
}

#battery {
    min-width: 50px;
    background: @background;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0px 25px 25px 0px;
    border: 3px solid @border-color;
    border-left-width: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}
